---
// Props du bouton
const { text, url } = Astro.props;
---

<a href={url} class="button">
    <div class="button__wrapper">
        <span class="button__icon">➡️</span>
        <span class="button__text">{text}</span>
    </div>
</a>

<style>
    .button {
        @apply inline-block bg-white border-4 border-green-300 px-6 py-3 flex items-center justify-center text-black font-bold text-lg rounded-lg shadow-md transition duration-300 hover:bg-gray-100;
    }

    .button__wrapper {
        @apply flex items-center gap-3;
    }

    .button__icon {
        @apply text-black text-xl;
    }

    .button__text {
        @apply text-black font-bold;
    }
</style>
