---
import IconYoutube from "../assets/icons/iconyoutube.svg";
import IconInstagram from "../assets/icons/iconinstagram.svg";
import IconTiktok from "../assets/icons/iconetiktok.svg";
import IconFacebook from "../assets/icons/iconfacebook.svg";
import Logo from "../assets/icons/IconLogo.svg";
---

<footer class="bg-[#A8C7A0] py-10">
    <div
        class="container mx-auto flex flex-col items-center text-center lg:text-left lg:flex-col lg:items-center"
    >
       
        <div class="flex items-center mb-4">
            <Logo class="w-24 h-24" />
            <h2 class="text-3xl font-semibold ml-2 mb-8 !text-black">Cinémagny</h2>
        </div>

        
        <hr class="w-3/4 border-t border-white my-4" />

        
        <div class="text-center text-black text-lg italic">
            <p>Mention légale</p>
            <p>Politique de confidentialité</p>
        </div>

        
        <hr class="w-3/4 border-t border-white my-4" />

    
        <ul class="flex gap-12 justify-center">
            <li>
                <a href="https://facebook.com" aria-label="Facebook"
                    ><IconFacebook /></a
                >
            </li>
            <li>
                <a href="https://instagram.com" aria-label="Instagram"
                    ><IconInstagram /></a
                >
            </li>
            <li>
                <a href="https://youtube.com" aria-label="Youtube"
                    ><IconYoutube /></a
                >
            </li>
            <li>
                <a href="https://linkedin.com" aria-label="Linkedin"
                    ><IconTiktok /></a
                >
            </li>
        </ul>
    </div>
</footer>
