---
import Logo from "../assets/icons/IconLogo.svg";
const currentPath = Astro.url.pathname;
---

<header
    class="flex items-center justify-between px-4 gap-8 border-b-2 border-b-gray-200 h-20 bg-[#FAF7E7]"
>
    <a href="/">
        <Logo class="w-14 h-14" />
    </a>

    <!-- Bouton menu mobile -->
    <button
        id="menu-btn"
        class="group relative z-10 flex h-3 w-6 flex-col justify-between lg:hidden *:block *:ease *:h-0.5 *:w-full *:transform *:rounded-full *:bg-black *:transition *:duration-300"
        aria-label="Menu"
        aria-controls="menu"
        aria-expanded="false"
    >
        <span
            class="group-aria-expanded:translate-y-[5px] group-aria-expanded:rotate-45"
        ></span>
        <span
            class="group-aria-expanded:-translate-y-[5px] group-aria-expanded:-rotate-45"
        ></span>
    </button>

    <!-- Menu desktop -->
    <nav
        class="hidden lg:flex items-center space-x-8 text-lg text-gray-700 font-medium"
    >
        <a href="/festival" class="hover:text-black">Le Festival</a>
        <a href="/films" class="hover:text-black">Programmation films</a>
        <a href="/activite" class="hover:text-black">Programmation activitées</a>
        <a href="/infos-pratiques" class="hover:text-black">Info pratique</a>
        <a href="/invite" class="hover:text-black">Invités</a>
        <a
            href="/contact"
            class="ml-6 px-6 py-2 bg-white border border-black rounded-full text-black font-semibold hover:bg-black hover:text-white transition"
        >
            Contact
        </a>
    </nav>
</header>

<!-- Menu mobile -->
<nav
    id="menu"
    class="flex-1 px-6 py-12 flex justify-between mt-20 flex-col fixed z-10 inset-0 bg-[#FAF7E7] visible opacity-100 max-lg:aria-hidden:invisible max-lg:aria-hidden:opacity-0 lg:mt-0 lg:flex-row lg:static lg:bg-transparent lg:py-6 lg:visible lg:opacity-100 hidden"
    aria-hidden="true"
>
    <ul
        class="flex flex-col gap-12 text-2xl text-black font-medium text-center"
    >
        <li><a href="/festival" class="mb-4">Le festival</a></li>
        <li><a href="/films" class="mb-4">Programmation films</a></li>
        <li><a href="/activite" class="mb-4">Programmation activitées</a></li>
        <li><a href="/infos-pratiques" class="mb-4">Infos pratiques</a></li>
        <li><a href="/invite" class="mb-4">Nos invités</a></li>
        <li><a href="/contact">Contact</a></li>
    </ul>
</nav>

<script>
    // On cible les éléments à modifier
    const toggle = document.querySelector("#menu-btn");
    const nav = document.querySelector("#menu");
    const closeBtn = document.querySelector("#close-btn");
    const page = document.body;

    // Vérifier si les éléments existent avant d'ajouter l'événement
    if (toggle && nav) {
        toggle.addEventListener("click", () => {
            const isOpen = toggle.ariaExpanded === "true";
            const isClosed = !isOpen;
            // Mise à jour des attributs ARIA pour accessibilité
            toggle.ariaExpanded = String(isClosed);
            nav.ariaHidden = String(isOpen);
            page.classList.toggle("noscroll", isClosed);

            // Affichage du menu mobile
            nav.classList.toggle("hidden");
        });
    }

    // Fermeture du menu mobile avec le bouton "❮"
    if (closeBtn) {
        closeBtn.addEventListener("click", () => {
            nav.classList.add("hidden");
        });
    }
</script>
